@page "{name}"
@model CategoryModel

@section Styles{
    <link href="~/css/tag.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
        @Html.Partial("_Logo")

        <div class="container">
            <div class=" cover_title">
                <h1>Category: @Model.CategoryName</h1>
            </div>
        </div>

    </header>
}

<div class="main row">
    <div class="sidebar col-md-4">
        <vc:about-me></vc:about-me>
        <vc:category></vc:category>
        <vc:friend-links></vc:friend-links>
    </div>
    <div class="main_content col-md-8">
        @foreach (var item in Model.Articles)
        {
            <div class="col-md-6">
                <div class="post_thumb">
                    <a href="@Url.Page("/Post",new { id =item.Id})">
                        <img  src="@(item.PostImage??"http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-540x353.jpg")" sizes="(max-width: 540px) 100vw, 540px">
                    </a> 
                </div>
                <div class="content_list">
                    <div class="tags_wrap">
                        @if (item.Tags != null && item.Tags.Count != 0)
                        {
                            <ul class="tags list-unstyled">
                                @foreach (var tag in item.Tags)
                                {
                                    <li>@tag.Name</li>
                                }
                            </ul>
                        }

                    </div>
                    <div class="post_title">
                        <h2>
                            <a href="@Url.Page("/Post",new { id =item.Id})">@item.Title</a>
                        </h2>
                    </div>
                    <div class="post_info clearfix">

                        <ul class="list-unstyled">
                            <li>@item.PostDate</li>
                        </ul>
                    </div>
                    <div class="summary">
                        @item.Summary
                    </div>
                </div>
            </div>
        }



    </div>
</div>