@page "{id}"
@model PostModel
@section Styles{
    <link href="~/css/post.css" rel="stylesheet" />
    <link href="~/css/markdowntheme.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
        @Html.Partial("_Logo")
    </header>
}
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["Description"] = Model.Article.Title;
    ViewData["Keywords"] = Model.Article.Tags.Aggregate("", (a, b) => a += (b.Name + ","));
}
<div class="main">
    <div class="sidebar col-md-4">
        <vc:about-me></vc:about-me>
        <vc:category></vc:category>
        <vc:friend-links></vc:friend-links>
    </div>
    <div class="main_content col-md-8">
        <article>
            <div class="post_header">
                <img src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-768x502.jpg" alt="" class="post_img">
                <p class="post_title">@Model.Article.Title</p>
                <div class="post_info clearfix">
                    <ul class="list-unstyled">
                        <li>@Model.Article.PostDate</li>
                    </ul>
                </div>
            </div>
            <div class="post_content @(Model.Article.ArticleType== Core.Articles.Model.ArticleType.MarkDown?"markdown-body":"")">
                @Html.Raw(Markdig.Markdown.ToHtml(Model.Article.Content))
            </div>
            <div class="post_footer">

            </div>

            <div class="post_action">
                <div class="tag_share clearfix">
                    <div class="tags">
                        <div>TAGS:</div>
                        @foreach (var item in Model.Article.Tags)
                        {
                            <div class="tag"><a href="@Url.Page("/Tag",new {Tag=item.Name })">@item.Name</a></div>
                        }
                    </div>
                    <div class="sharebtn">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
