@page
@model ArchivesModel
@section Styles{
    <link href="~/css/archives.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
       @Html.Partial("_Logo")
    </header>
}
<div class="main row">
    <div class="main_content col-md-8">
        <ul class="archives">
            @foreach (var i in Model.GroupedArticles)
            {
                <li class="archive_month">
                    <p>@i.Key.ToString("yyyy-MM")</p>
                    <ul>
                        @foreach (var item in i)
                        {
                            <li><span class="post_data">@item.PostDate.ToString("yyyy-MM-dd")   </span><a href="@Url.Page("/Post", new { id = item.Id })" class="post_title">@item.Title</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="sidebar col-md-4">
        <vc:about-me></vc:about-me>
        <vc:category></vc:category>
        <vc:friend-links></vc:friend-links>
    </div>
</div>
