@page
@model ArchivesModel
@section Styles{
    <link href="~/css/archives.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
       @Html.Partial("_Logo")
    </header>
}
<div class="main row">
    <div class="main_content col-md-8">
        <ul class="archives">
            @foreach (var i in Model.GroupedArticles)
            {
                <li class="archive_month">
                    <p>@i.Key.ToString("yyyy-MM")</p>
                    <ul>
                        @foreach (var item in i)
                        {
                            <li><span class="post_data">@item.PostDate.ToString("yyyy-MM-dd")   </span><a href="@Url.Page("/Post", new { id = item.Id })" class="post_title">@item.Title</a></li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
    <div class="sidebar col-md-4">
        <section class="sidebar_item aboutme">
            <div class="sidebar_item_title">
                <p>ABOUT ME</p>
            </div>
            <div class="sidebar_item_content">
                <img src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/10/img-about-me.jpg" alt="..." class="img-circle">
                <div class="my_word">
                    Hey guy! My name is Dragon, I'm a web designer I love cat, reading, travelling and sport Welcome to my blog!
                </div>
            </div>
        </section>
        <section class="sidebar_item category">
            <div class="sidebar_item_title">
                <p>CATEGORIES</p>
            </div>
            <div class="sidebar_item_content">
                <ul class="category_list">
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
