@page "{SkipCount?}"
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
        @Html.Partial("_Logo")
        <div class="silder_post container">
            <div class="my_carousel">
                <div class="my_carouse_inner">
                    <div class="my_carouse_item">
                        <a href="http://demo.dgtthemes.com/dumblog/do-you-think-about-your-life-if-you-want-change-it/">
                            <img width="1140" height="650" src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/07/slider-2-1140x650.jpg" class="attachment-slider-boxed size-slider-boxed wp-post-image" alt="slider-2">
                        </a>
                    </div>
                    <div class="my_carouse_item"></div>
                </div>
                <div class="my_carousel_controls"></div>
            </div>
        </div>
    </header>
}
<div class="main row">
    <div class="main_content col-md-8">
        @foreach (var item in Model.Articels.Items)
        {
            <section class="article_summary ">
                <div class="post_thumb">
                    <a href="http://demo.dgtthemes.com/dumblog/still-stuck-in-that-time-when-we-called-it-love/">
                        <img width="540" height="353" src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-540x353.jpg" class="attachment-medium size-medium wp-post-image" alt="2" srcset="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-540x353.jpg 540w, http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-768x502.jpg 768w, http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2.jpg 800w" sizes="(max-width: 540px) 100vw, 540px">
                    </a>
                </div>
                <div class="content_list">
                    <div class="post_title">
                        <h2>
                            <a href="@Url.Page("/Post", new { id = item.Id })">@item.Title</a>
                        </h2>
                    </div>
                    <div class="post_info clearfix">
                        <ul class="list-unstyled">
                            @*<li>Sep 05th, 2015</li>*@
                            <li>@item.PostDate</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="summary">
                        @item.Summary
                    </div>
                </div>
            </section>
        }


        <nav>
            @*<ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    string pageName, int pageSize, int total, int skipCount, int preLinkCount = 3, int nextLinkCount = 3, string QueryName = "SkipCount"
                    </li>
                </ul>*@
            <vc:pagination page-name="/Index" page-size="10" skip-count="@Model.PageQuery.SkipCount" total="@Model.Articels.TotalCount">

            </vc:pagination>
            @await Component.InvokeAsync("Pagination", new { PageName = "/Index", PageSize = 10, SkipCount = Model.PageQuery.SkipCount, Total = Model.Articels.TotalCount })
        </nav>

    </div>
    <div class="sidebar col-md-4">
        <section class="sidebar_item aboutme">
            <div class="sidebar_item_title">
                <p>ABOUT ME</p>
            </div>
            <div class="sidebar_item_content">
                <img src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/10/img-about-me.jpg" alt="..." class="img-circle">
                <div class="my_word">
                    Hey guy! My name is Dragon, I'm a web designer I love cat, reading, travelling and sport Welcome to my blog!
                </div>
            </div>
        </section>
        <section class="sidebar_item category">
            <div class="sidebar_item_title">
                <p>CATEGORIES</p>
            </div>
            <div class="sidebar_item_content">
                <ul class="category_list">
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>