@page "{SkipCount?}"
@model IndexModel
@{
    ViewData["Title"] = "主页";
}

@section Styles{
    <link href="~/css/index.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
        @Html.Partial("_Logo")
        <div class="silder_post container">
            <div class="my_carousel">
                <div class="my_carouse_inner">
                    <div class="my_carouse_item">
                        <a href="#">
                            <img width="1140" height="650" src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/07/slider-2-1140x650.jpg" class="attachment-slider-boxed size-slider-boxed wp-post-image" alt="slider-2">
                        </a>
                    </div>
                    <div class="my_carouse_item"></div>
                </div>
                <div class="my_carousel_controls"></div>
            </div>
        </div>
    </header>
}
<div class="main row">
    <div class="main_content col-md-8">
        @foreach (var item in Model.Articels.Items)
        {
            <section class="article_summary ">
                <div class="post_thumb">
                    <a href="@Url.Page("/Post", new { id = item.Id })">
                        <img src="@(item.PostImage??"http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-540x353.jpg")" class="attachment-medium size-medium wp-post-image" alt="2" sizes="(max-width: 540px) 100vw, 540px">
                    </a>
                </div>
                <div class="content_list">
                    <div class="post_title">
                        <h2>
                            <a href="@Url.Page("/Post", new { id = item.Id })">@item.Title</a>
                        </h2>
                    </div>
                    <div class="post_info clearfix">
                        <ul class="list-unstyled">
                            @*<li>Sep 05th, 2015</li>*@
                            <li>@item.PostDate</li>
                        </ul>
                    </div>
                    <hr>
                    <div class="summary">
                        @item.Summary
                    </div>
                </div>
            </section>
        }
        <nav>
            @await Component.InvokeAsync("Pagination", new { PageName = "/Index", PageSize = 10, SkipCount = Model.PageQuery.SkipCount, Total = Model.Articels.TotalCount })
        </nav>

    </div>
    <div class="sidebar col-md-4">
        <vc:about-me></vc:about-me>
        <vc:category></vc:category>
        <vc:friend-links></vc:friend-links>
    </div>
</div>