@page "{id}"
@model PostModel
@section Styles{
    <link href="~/css/post.css" rel="stylesheet" />
}
@section Header{
    <header class="header">
        @Html.Partial("_Logo")
        
    </header>
}
<div class="main">
    <div class="sidebar col-md-4">
        <section class="sidebar_item aboutme">
            <div class="sidebar_item_title">
                <p>ABOUT ME</p>
            </div>
            <div class="sidebar_item_content">
                <img src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/10/img-about-me.jpg" alt="..." class="img-circle">
                <div class="my_word">
                    Hey guy! My name is Dragon, I'm a web designer I love cat, reading, travelling and sport Welcome to my blog!
                </div>
            </div>
        </section>
        <section class="sidebar_item category">
            <div class="sidebar_item_title">
                <p>CATEGORIES</p>
            </div>
            <div class="sidebar_item_content">
                <ul class="category_list">
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                    <li><a href="">Discovery</a></li>
                </ul>
            </div>
        </section>
    </div>
    <div class="main_content col-md-8">
        <article>
            <div class="post_header">
                <img src="http://demo.dgtthemes.com/dumblog/wp-content/uploads/2015/09/2-768x502.jpg" alt="" class="post_img">
                <p class="post_title">@Model.Article.Title</p>
                <div class="post_info clearfix">
                    <ul class="list-unstyled">
                        <li>@Model.Article.PostDate</li>
                    </ul>
                </div>
            </div>
            <div class="post_content">
                @Model.Article.Content
            </div>
            <div class="post_footer">

            </div>

            <div class="post_action">
                <div class="tag_share clearfix">  
                    <div class="tags">
                        <div>TAGS:</div>
                        @foreach (var item in Model.Article.Tags)
                        {
                            <div class="tag"><a href="@Url.Page("/Tag",new {Tag=item.Name })">@item.Name</a></div>
                        }
                    </div>
                    <div class="sharebtn">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
